html {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: black;
}

a {
    all: unset;
}

h1 {
	cursor: default;
	color: white;
	font-size: 77pt;
}

img {
    image-rendering: pixelated;
	width: 15vw;
    filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
}

img:hover {
    cursor: pointer;
    filter: brightness(0.80) drop-shadow(0px 0px 3px rgb(0, 0, 0));
}

.container {
    position: absolute;
	top: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url('assets/windows_bg.png');
	background-size: 55vw;
	image-rendering: pixelated;
	background-position: center;
	background-repeat: no-repeat;

	filter: drop-shadow(0px 0px 30px rgb(81, 81, 81)) contrast(120%);
}

.icon-wrapper {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icon1 {
    transform: translate(-50%, -50%) translate(-18vw, 0);
}

#icon2 {
    transform: translate(-50%, -50%) translate(-0vw, 0);
}

#icon3 {
    transform: translate(-50%, -50%) translate(18vw, 0);
}

.icon {
    margin: 20px;
	margin-bottom: 0px;
	image-rendering: pixelated;
}

.icon-text {
	cursor: default;
	margin-top: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
	font-family: Arial;
	font-size: 2vw;
	color:white;

	-webkit-text-stroke-width: 0.1vw;
  	-webkit-text-stroke-color: rgb(0, 0, 0);
}

.selected img {
    filter: brightness(0.75) drop-shadow(0px 0px 3px rgb(126, 126, 126));
	background-color: rgba(255, 255, 255, 0.25);
}

.selected .icon-text span {
    background-color: rgba(80, 80, 255, 0.75);
}
